body{
    margin: 0%;
    padding: 0%;
    background-color: #fc6a2b;
    color: white;
    overflow-x: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main_header{
    height: 80px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    grid-auto-flow: column;
}

.head_logo{
    grid-column: 1/3;
    align-content: center;
    text-align: left;
    padding-left: 100px;
}

.head_nav{
    grid-column: 3/5;
    align-content: center;
    text-align: center;
}

.head_nav>nav>ul>li{
    list-style-type: none;
    display: inline;
    padding: 20px;
}

.head_butt{
    grid-column: 5/7;
    align-content: center;
    text-align: center;
    z-index: 5;
}

.head_butt>button{
    padding: 15px;
    color: white;
    background-color: #1c1919;
    border-radius: 50px;
    width: 100px;
    font-size: small;
    font-weight: 600;
    border: none;
}

.main_page {
    height: calc(100vh - 80px);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    position: relative;
}

.main_left{
    margin-top: 10px;
    align-content: center;
    text-align: left;
    padding-left: 150px;
}

.main_left > h1{
    font-size: 48px;
    font-weight: 800;
}

.main_left > p{
    font-size: large;
}

.main_left>button{
    padding: 15px;
    color: white;
    background-color: #1c1919;
    border-radius: 50px;
    width: 250px;
    font-size: medium;
    font-weight: 700;
    border: none;
    height: 60px;
}

.main_right {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    position: relative;
    z-index: 2;
    transform: translate(80px, -40px);
}

.inner_right {
    height: 80%;
    width: 80%;
    background-image: url(./hero.png);
    background-size: cover;
    background-position: center;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.hero_visual_wrapper {
    position: relative;
    width: 635px;
    height: 635px;
    margin-left: 50px;
}

.line {
    position: absolute;
    background-color: white;
    height: 46px;
    width: 1000px;
    z-index: 0;
    left: 0; 
    top: 50%;
}

.horizontal-line-top {
    transform: translate(160px, -15px) rotate(45deg);
    transform-origin: left;
}

.horizontal-line-bottom {
    transform: translate(100px, -50px) rotate(-45deg);
    transform-origin: left;
}

