body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #ef7b45;
    color: white;
    height: 100vh;
    overflow: hidden;
}

.hero-container {
    display: flex;
    height: 100%;
    position: relative;
}

.content {
    flex: 1;
    padding: 40px 80px;
    z-index: 2;
}

nav {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 100px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 1rem;
}

.hero-text {
    max-width: 500px;
}

h1 {
    font-size: 3rem;
    line-height: 1.1;
    margin-bottom: 20px;
}

.btn {
    background: #2d2d2d;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
    font-weight:700;
}

.image-section {
    flex: 1;
    position: relative;
    background: white;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    margin: 20px;
}

.clipped-image {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-image: url(https://www.rvcj.com/wp-content/uploads/2022/03/shark-tank-India.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.buy-now-top {
    position: absolute;
    top: 40px;
    right: 80px;
    background: #2d2d2d;
    color: white;
    padding: 10px 30px;
    border-radius: 25px;
    border: none;
    z-index: 10;
}

.logo{
    font-weight: 900 ;
    font-size: x-large;
}

