*{
    margin:0;
    padding:0;
}

body{
    background-color: cadetblue;
}

.header{
    display: grid;
    background-color: lightgrey;
    color: black;
    width: 100%;
    height : 60px;
    text-align: center;
    font-size: xx-large;
    place-items: center;
}

.header:h4{
    margin: 5px;
}

.list ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
    min-height: 50vh;
}

.greet{
    display: flex;
    justify-content: center;
}

#greetbut, #bg{
    background-color: rgb(30, 29, 29);
    color: aliceblue;
    margin: 10px;
    padding: 15px;
    border-radius: 30px;
    font-weight: 600;
}

.list ul li{
    border: 2px solid black;
    padding: 30px;
    cursor: pointer;
    background-color:white;
}



